.divContainer{background-image: url('../Images/header.jpg');
background-size: contain;
background-position: center;
background-repeat: no-repeat;
background-position-y: 55%;}

.txtHeader{background-color: transparent;}

.btnContainer{margin-top: 20vh;
margin-bottom: 5vh;}