.txtHeader{background-color: transparent;}
.btnContainer{margin-bottom: 5vh;}
.divContainer{
    margin-top: 5%;
    height: 50%;
    position: relative;
}
.imgHeader{
    width: 100%;
    position: fixed;
    top: 40%;
    left: 0%;
    opacity: 0.3;
}